@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}
<p class="text-info">
    Welcome @Model.GivenName @Model.Surname!.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nickname"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
            @Html.HiddenFor(m => m.GivenName)
            @Html.HiddenFor(m => m.Surname)
            @Html.HiddenFor(m => m.Email)
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
